.button {
    background-color: white;
    border-radius: 300px;
    color: #434343;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}