.button {
    background-color: white;
    border-radius: 300px;
    color: #20232A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}